.floatingActionButton {
    position: fixed;
    bottom: 24px;
    right: 328px;
    animation: slideup 2s;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 800px) {
    .floatingActionButton {
        right: 28px;
    }
}
