.card {
    width: 48%;
}

.card-actions {
    text-align: right;
}

.loader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 1010px) {
    .card {
        composes: card from './profile-banner.css';
        width: 100%;
    }
}
