.actionButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

@media (max-width: 400px) {
    .actionButtons {
        display: block;
    }

    .actionButtons > * {
        display: block;
        text-align: center;
        width: 100%;
    }
}
