.root {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.illustration {
    flex: 2;
    position: fixed;
    left: 0px;
    top: 56px;
    height: 100%;
    width: 100%;
    background: url("http://lorempixel.com/600/600/") no-repeat center center fixed;
    background-size: cover;
}

.formContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
}

.formPaper {
    padding: 32px;
}

.formPaper form {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.headerBar {
    position: fixed;
    z-index: 3;
    background-color: #333333 !important;
    width: 100%;
    left: 0;
    top: 0;
}

@media (max-width: 1010px) {
    .illustration {
        display: none;
    }

    .formContainer {
        width: 100%;
        position: fixed;
    }
}

@media (max-width: 400px) {
    .formPaper form {
        width: auto;
        max-width: 100%;
    }
}
