.home {
    min-height: 100%;
}

.flexLayout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mainLayout {
    min-height: 100%;
}

.leftNav {
    padding-right: 0;
    z-index: 2;
    position: fixed;
    width: 240px;
    max-width: 240px;
    height: 100%;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
}

.mainContent {
    margin-top: 48px;
    width: 660px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 240px;
    padding-right: 300px;
}

.messagePanel {
    padding-right: 0px;
    margin-top: 56px;
    width: 300px;
    z-index: 2;
    position: fixed;
    height: 100%;
    right: 0;
}

@media (max-width: 1230px) {
    .leftNav {
        max-width: 200px;
    }

    .mainContent {
        max-width: none;
        width: 480px;
        padding-left: 210px;
    }
}

@media (max-width: 1010px) {
    .leftNav {
        display: none;
    }

    .mainContent {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
    }
}

@media (max-width: 800px) {
    .messagePanel {
        display: none;
    }

    .mainContent {
        padding-right: 0px;
    }
}
