.root {
    position: fixed;
    z-index: 3;
    background-color: #333333 !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.left {
    flex: 2;
    justify-content: flex-start !important;
}

.right {
}

.leftNavTrigger {
    padding-left: 0;
    padding-right: 8px;
}

.separator {
    background-color: #ffffff !important;
    margin-right: 24px;
}

.searchField {
    width: 400px;
    margin: 5px 0px 5px 16px;
    background: #444;
    padding: 0 12px;
}

@media (min-width: 1010px) {
    .leftNavTrigger {
        display: none;
    }
}

@media (max-width: 1010px) {
    .logo {
        display: none;
    }
    .searchField {
        width: 100%;
        margin-left: 0;
    }
    .separator {
        display: none !important;
    }
}

@media (max-width: 800px) {
    .title {
        display: none;
    }
}
