import Colors from "material-ui/lib/styles/colors";

let loginBackgroundImage = "http://510784837.r.lightningbase-cdn.com/wp-content/uploads/2013/04/Screen-shot-2013-04-14-at-16.12.16.png"

export default {
  baseUrl: "http://localhost:3000",
  title: "My social network",
  toolbarBackgroundColor: Colors.blueGrey900,
  toolbarTitleColor: Colors.grey200,
  loginPageBackground: `#000 url(${loginBackgroundImage}) no-repeat center/100%`
}
