module.exports = {
    development: {
        api: 'http://localhost:3002',
        cableEndpoint: 'ws://localhost:28080'
    },
    production: {
        api: 'https://api.example.org',
        cableEndpoint: 'wss://api.example.org/live'
    }
};
